* {
  padding: 0;
  margin: 0;
}
.menubar {
  display: flex;
  justify-content: space-around;
}
ul > li {
  list-style: none;
}
.bar-list {
  display: flex;
  gap: 25px;
}
.banner-container {
  text-align: center;
  padding-top: 70px;
}
.nav-bar {
  background-color: rgb(255, 244, 230);
}
.banner-img {
  margin-bottom: 45px;
}
